In [1]:
!pip install pandas
!pip install opencv-python

Requirement already satisfied: pandas in c:\users\sabar\anaconda3\envs\cd\lib\site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\sabar\anaconda3\envs\cd\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sabar\anaconda3\envs\cd\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sabar\anaconda3\envs\cd\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sabar\anaconda3\envs\cd\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\sabar\anaconda3\envs\cd\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: opencv-python in c:\users\sabar\anaconda3\envs\cd\lib\site-packages (4.8.1.78)
Requirement already satisfied: numpy>=1.21.2 in c:\users\sabar\anaconda3\envs\cd\lib\site-packages (from opencv-python) (1.26.2)

In [2]:
import pandas as pd
import cv2

In [3]:
img = cv2.imread('image.jpg')

In [4]:
img

array([[[118,  35,  20],
        [117,  34,  19],
        [114,  32,  20],
        ...,
        [ 49,  73,  19],
        [ 50,  73,  19],
        [ 50,  73,  19]],

       [[117,  34,  19],
        [117,  34,  19],
        [115,  34,  19],
        ...,
        [ 53,  78,  20],
        [ 54,  79,  21],
        [ 55,  80,  22]],

       [[117,  37,  20],
        [117,  37,  20],
        [116,  35,  20],
        ...,
        [ 50,  81,  12],
        [ 49,  80,  11],
        [ 48,  79,  10]],

       ...,

       [[118, 123, 122],
        [119, 124, 123],
        [120, 124, 125],
        ...,
        [ 38,  32,  33],
        [ 38,  30,  31],
        [ 36,  28,  29]],

       [[119, 124, 123],
        [119, 124, 123],
        [120, 124, 125],
        ...,
        [ 40,  34,  35],
        [ 40,  32,  33],
        [ 39,  31,  32]],

       [[119, 124, 123],
        [119, 124, 123],
        [120, 124, 125],
        ...,
        [ 40,  35,  36],
        [ 42,  34,  35],
        [ 41,  33,  34]]], dtype=uint8)

In [5]:
clk = False
r = g = b = 0
x_pos = y_pos = 0

In [6]:
df = pd.read_csv('colors.csv', names=["Color", "Color_name", "Hex", "R", "G", "B"])

In [7]:
df.head()

                  Color             Color_name      Hex    R    G    B
0    air_force_blue_raf   Air Force Blue (Raf)  #5d8aa8   93  138  168
1   air_force_blue_usaf  Air Force Blue (Usaf)  #00308f    0   48  143
2  air_superiority_blue   Air Superiority Blue  #72a0c1  114  160  193
3       alabama_crimson        Alabama Crimson  #a32638  163   38   56
4            alice_blue             Alice Blue  #f0f8ff  240  248  255

In [8]:
def get_color(R, G, B):
    minimum = 10000
    for i in range(len(df)):
        val = abs(R - int(df.loc[i, "R"])) + abs(G - int(df.loc[i, "G"])) + abs(B - int(df.loc[i, "B"]))
        if val <= minimum:
            minimum = val
            color = df.loc[i, "Color_name"]
    return color

In [9]:
def clk_function(event, x, y, flags, param):
    if event == cv2.EVENT_LBUTTONDBLCLK:
        global b, g, r, x_pos, y_pos, clk
        clk = True
        x_pos = x
        y_pos = y
        b, g, r = img[y, x]
        b = int(b)
        g = int(g)
        r = int(r)

In [10]:
cv2.namedWindow('image')
cv2.setMouseCallback('image', clk_function)

while True:
    cv2.imshow("image", img)
    if clk:
        cv2.rectangle(img, (20, 20), (750, 60), (b, g, r), -1)
        text = get_color(r, g, b) + ' R=' + str(r) + ' G=' + str(g) + ' B=' + str(b)
        cv2.putText(img, text, (50, 50), 2, 0.8, (255, 255, 255), 2, cv2.LINE_AA)

        if r + g + b >= 600:
            cv2.putText(img, text, (50, 50), 2, 0.8, (0, 0, 0), 2, cv2.LINE_AA)
        clk = False

    if cv2.waitKey(20) & 0xFF == 27:
        break
cv2.destroyAllWindows()